<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p role="alert">Вы не можете смотреть это</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Не найдено</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Извините, тут ничего нет</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
